h1 {
  text-align: center;
}

.plan {
  font-family: Quicksand;
  background-color: #02c3bd;
  color: white;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  padding: 0.7rem;
  font-size: 0.8rem;
  width: 9rem;
  margin-right: 3rem;
  margin-top: 2rem;
  text-decoration: none;
}
table,
th,
td {
  border: 1px solid #02c3bd;
  font-family: Pontano Sans;
  margin: 5%;
  line-height: 2;
  width: auto;
}
.tableformat {
  border-radius: 10%;
}
