.imgbootcamp {
  width: 100%;
  border: #02c3bd solid 5px;
}

.flexboxboot {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 30px;
}

.ctabootcamp {
  font-family: Quicksand;
  background-color: #037171;
  color: white;
  border-radius: 2rem;
  justify-content: center;
  font-size: 0.8rem;
  margin-right: 3rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-decoration: none;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.ctabootcamp:hover {
  color: white;
  background-color: #02c3bd;
}

.h1bootcamp {
  margin: 5rem;
  text-align: center;
}

.h2bootcamp {
  text-align: center;
  border-top: #02c3bd solid 2px;
  border-bottom: #02c3bd solid 2px;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 2%;
}

.pbootcamp {
  line-height: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
}



@media (max-width: 1050px) {
  .flexboxboot {
    flex-direction: column;
    gap: 70px;
  }

  .flexboxbootdiv {
    width: 100%;
  }

}