h1 {
  text-align: center;
}

.overskrift1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.overskrift2 {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 8%;
}

.forsidebillede {
  width: 100%;
  display: block;
  align-self: stretch;
  object-fit: cover;
}

.forsidebillede2 {
  width: 70%;
  gap: 10%;
  margin: 5%;
}

.forsidebillede2 {
  font-family: Quicksand;
  background-color: #02c3bd;
  color: white;

  display: flex;
  justify-content: center;
  padding: 0.7rem;
}

.grid_2-2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

p {
  line-height: 2;
}

.sundhed {
  margin: 3%;
  border-top: #02c3bd solid 2px;
  border-bottom: #02c3bd solid 2px;
  padding: 0.5rem;
  text-align: center;
}

.sundhed2 {
  margin: 10%;
  border-top: #02c3bd solid 2px;
  border-bottom: #02c3bd solid 2px;
  padding: 0.5rem;
  text-align: center;
}
