.menuforside {
  color: white;
  font-weight: 700;
}



h1 {
  text-align: center;
  margin-top: 19%;
  font-size: 7rem;
  color: white;
  border-top: 2px solid #02c3bd;
  border-bottom: 2px solid #02c3bd;
  padding: 2%;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2%;
  margin-bottom: 40%;
  color: white;
}

h3 {
  font-size: 2rem;
}


main p {
  font-size: 1.2rem;
  margin-right: 5%;
  margin-left: 5%;
  line-height: 1.5;
  margin-bottom: 3%;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.forsidebillede2 {
  font-family: Quicksand;
  border: 5px solid #02c3bd;
  color: white;
  width: 65%;
}

.flex_2-2 {
  display: flex;
  justify-content: space-evenly;
  margin-top: 8%;
}

.flex_column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.flex_column1 {
  display: flex;
  justify-content: center;
  width: 50%;
}

.flex_column2 {
  display: flex;
  width: 50%;
  flex-direction: column;
}

video {
  width: 95%;
  margin-bottom: 3%;
  margin-inline: auto;
}

.sundhed {
  margin-top: 7%;
  margin-bottom: 3%;
  border-top: #02c3bd solid 2px;
  border-bottom: #02c3bd solid 2px;
  padding: 0.5rem;
  text-align: center;
}

.sundhed2 {
  margin-top: 0%;
  margin-bottom: 5%;
  border-top: #02c3bd solid 2px;
  border-bottom: #02c3bd solid 2px;
  padding: 0.5rem;
  text-align: center;
}


@media (min-width: 500px) and (max-width: 1050px) {
  .flex_2-2 {
    flex-direction: column;
    align-items: center;
  }

  .flex_column {
    width: 100%;
  }

  .flex_column1 {
    width: 100%;
  }

  video {
    width: 100%;
    margin-bottom: 10%;
  }

  .forsidebillede2 {
    width: 80%;
    margin-bottom: 10%;
  }

  .video {
    display: none;
  }

  h1 {
    font-size: 5rem;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 20%;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 40%;
  }

  body {
    background-image: url("img/placeholder.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 170%;
  }

}


@media (max-width: 500px) {
  .flex_2-2 {
    flex-direction: column;
    align-items: center;
  }

  .flex_column {
    width: 100%;
  }

  .flex_column1 {
    width: 100%;
  }

  video {
    width: 100%;
    margin-bottom: 10%;
  }

  .forsidebillede2 {
    width: 80%;
    margin-bottom: 10%;
  }

  .video {
    display: none;
  }

  h1 {
    font-size: 5rem;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 30%;
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 10%;
    margin-bottom: 50%;
  }

  body {
    background-image: url("img/placeholder.webp");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 300%;
  }

  

}

.video-player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-player-button {
  font-family: Quicksand;
  background-color: #037171;
  color: white;
  border-radius: 2rem;
  text-decoration: none;
  padding-left: 2.3rem;
  padding-right: 2.3rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  margin-inline: auto;
  cursor: pointer;
}



.playing {
  background-color: #02c3bd;
}