.menuforside {
  color: white;
  font-weight: 700;
}


h1 {
  text-align: center;
  margin-top: 19%;
  font-size: 7rem;
  color: white;
  border-top: 2px solid #02c3bd;
  border-bottom: 2px solid #02c3bd;
  padding: 2%;
}

h2 {
  text-align: center;
  font-size: 2.5rem;
  padding-top: 2%;
  margin-bottom: 35%;
  color: white;
}

h3 {
  font-size: 2rem;
}


p {
  font-size: 1.2rem;
}

.video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.forsidebillede2 {
  width: 70%;
  margin-inline: auto;
}

.forsidebillede2 {
  font-family: Quicksand;
  border: 5px solid #02c3bd;
  color: white;

  display: flex;
  justify-content: center;
}

.grid_2-2 {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.sundhed {
  margin: 3%;
  border-top: #02c3bd solid 2px;
  border-bottom: #02c3bd solid 2px;
  padding: 0.5rem;
  text-align: center;
}

.sundhed2 {
  margin-top: 0%;
  margin-bottom: 5%;
  border-top: #02c3bd solid 2px;
  border-bottom: #02c3bd solid 2px;
  padding: 0.5rem;
  text-align: center;
}
