* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
    max-width: 1200px;
    margin-inline: auto;
    padding: 5%;
}

@font-face {
  font-family: Quicksand;
  src: url(quicksand-variablefont_wght-webfont.woff2);
}



header nav li {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  line-height: normal;
}
