* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-inline: auto;
  padding: 5%;
}


@font-face {
  font-family: Quicksand;
  src: url(quicksand-variablefont_wght-webfont.woff2);
}

@font-face {
  font-family: Pontano Sans;
  src: url(pontanosans-regular-webfont.woff2);
}

h1 {
  font-family: Quicksand;
  color: black;
}

h2 {
  font-family: Quicksand;
  color: black;
}

h3 {
  font-family: Pontano Sans;
  color: black;
}

p {
  font-family: Pontano Sans;
  color: black;
}

header nav li {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  line-height: normal;
}


.grid1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
  margin-top: auto;
}
