* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin-inline: auto;
  padding-top: 5%;
  padding-right: 5%;
  padding-left: 5%;
}


@font-face {
  font-family: Quicksand;
  src: url(quicksand-variablefont_wght-webfont.woff2);
}

@font-face {
  font-family: Pontano Sans;
  src: url(pontanosans-regular-webfont.woff2);
}

h1 {
  font-family: Quicksand;
  color: black;
}

h2 {
  font-family: Quicksand;
  color: black;
}

h3 {
  font-family: Pontano Sans;
  color: black;
}

p {
  font-family: Pontano Sans;
  color: black;
}

header nav li {
  text-align: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  line-height: normal;
}


.grid1_1_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer {
  margin-top: auto;
}


/***************MENU*****************/



@font-face {
  font-family: Quicksand;
  src: url(quicksand-variablefont_wght-webfont.woff2);
}


header {
  display: flex;
  justify-content: space-between;
  top: 0;
  align-items: center;
  margin: 20px;
}

header a {
  width: 22%;
}

nav ul {
  display: flex;
  list-style: none;
  padding-bottom: 30px;
  padding-top: 30px;
}

nav ul li {
  width: 110px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  font-size: 1.1rem;
  font-family: Quicksand;
  color: black;
}

nav ul li a:hover {
  text-decoration: none;
  padding: 15px;
  background-color: #02c3bd;
  border-radius: 30px;
  font-size: 1.1rem;
  font-family: Quicksand;
  color: white;
}

.logo {
  width: 100%;
}

@media (max-width: 1050px) {
  header a {
      width: 70%;
  }

  .logo {
      width: 100%;
  }

  nav ul li {
      padding: 20px;
      margin-inline: auto;
  }

}

nav {
  --less-than: 1050;
  --burger-lines: #02c3bd;;
  --burger-border: none;
}


/*******************FOOTER*********************/

.flexfooter {
  display: flex;
  justify-content: space-evenly;
  margin-top: 6rem;
}

.flexboxbootdiv {
  width: 30%;
}
.divflexfooter {
  text-align: center;
}

.some {
  height: 30%;
}

.linkfooter {
  text-decoration: none;
  color: black;
}

@media (max-width: 700px) {
  .flexfooter {
    flex-direction: column;
    gap: 30px;
  }


}

